.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    margin: 0;
    width: 100%;

    &__headerline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        &:hover {
            cursor: pointer;

            .dropdown__label {

                color: #546E7A;

            }

            svg {
                path {
                    fill: #546E7A;
                }
            }
        }

        &:focus {
            .dropdown__label {

                color: black;

            }
        }
    }

    &__img {
        width: 23px;
        height: 24px;
        transition: 0.5s ease;
        margin-right: 16px;
    }

    &__label {
        color: #222734;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        margin: 0;
        padding: 0;

        @media (max-width: 1140px) {
            font-size: 16px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        width: 100%;
    }

    &__scroll-cnt {
        width: 100%;
        max-height: 150px;
        overflow-y: scroll;
    }

    &__items-cnt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        animation: showRate 0.3s ease;
        transition: all 0.3s ease;
        gap: 14px;
    }

    &__search {
        display: flex;
        align-items: center;
        height: 47px;
        border-radius: 8px;
        border: 2px solid #E9ECF4;

        input {
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            margin-left: 16px;
            border: none;
            outline: none;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 94%;

        &:hover {
            cursor: pointer;

            .dropdown__item-title {
                color: #546E7A;
            }
        }
    }

    &__item-checkbox-block {
        display: flex;
        align-items: center;
    }

    &__item-input-label {}

    &__item-input {
        display: none;
    }

    .dropdown__item-input:checked+&__item-checkbox-style::before {
        opacity: 1;
    }

    &__item-checkbox-style {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        border-radius: 8px;
        border: 2px solid #E9ECF4;
    }

    &__item-checkbox-style::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 90%;
        background-color: #1E4593;
        border-radius: 6px;
        opacity: 0;
    }

    &__item-title {
        color: #222734;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        margin-left: 16px;
    }

    &__item-value {
        color: #9D9FA5;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
    }
}

@keyframes showRate {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 100%;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #E6E7E8;
}