.scroll-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #E9ECF4;
    border: 1px solid #E9ECF4;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    z-index: 1;
    transition: .2s;

    &:hover {
        cursor: pointer;
        bottom: 20px;
    }

    &__icon {
        height: 28px;
        width: 26px;
    }
}