.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    transform: translate(-130%);
    transition: all 0.2s;

    &__blur {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(16px);
        position: absolute;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transition: all 0.4s;
        position: relative;
    }

    &__content-cnt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    &__close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        top: 10px;
        height: 44px;
        width: 44px;
    }

    &__close::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        background: gray;
        transform: rotate(45deg);
    }

    &__close::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        background: gray;
        transform: rotate(-45deg);
    }

    &__address {
        display: flex;
        align-items: center;
        padding: 16px 0px;

        a {
            color: #535761;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            text-decoration: none;
            border-bottom: #535761 2px solid;
        }
    }

    &__catalog-button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 48px;
        width: 183px;
        border: none;
        border-radius: 8px;
        background: #E9ECF4;

        &:hover {
            cursor: pointer;
        }

        .catalog-button__text {
            color: #1E4593;
            font-size: 16px;
        }
    }

}

.menu.active {
    transform: translate(0);
}