.card-wrapper {
    height: 424px;
    z-index: 1;

    &--hovered {
        &:hover {
            z-index: 2;

            .card-cnt {
                border-color: #1E4593;
                cursor: pointer;
            }

            .card__buy {
                display: block;
            }
        }

        .card__price-val {
            color: #222734;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 130%;
        }
    }
}

.card-cnt {
    background-color: white;
    border-radius: 12px;
    border: 1px solid #E9ECF4;
    transition: all .2s;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 242px;
    height: 425px;

    &__stickers {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 6px;
        top: 15px;
        height: 20%;
        width: 90%;
    }

    &__sticker-wrapper {
        display: flex;
        width: 50%;

        &--new {
            .card__sticker-item {
                width: 81px;
                color: #92BE66;
                border: 1px solid #92BE66;
                background: #EAF4DF;
            }
        }

        &--hit {
            .card__sticker-item {
                width: 47px;
                color: #62AAC9;
                border: 1px solid #62AAC9;
                background: #E1EFF5;
            }
        }

        &--stock {
            justify-content: flex-end;
            width: auto;
            height: 50px;

            .card__sticker-item {
                width: 65px;
                color: #E26279;
                border: 1px solid #E26279;
                background: #FCEAEE;
            }
        }

        &--ended {
            .card__sticker-item {
                width: 120px;
                color: white;
                background: #BCBCBC;
            }
        }
    }

    &__sticker-item {
        height: 30px;
        border-radius: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 225%;
        text-align: center;
    }

    &__image {
        height: 38%;
        object-fit: contain;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        min-height: 140px;
    }

    &__title {
        color: #222734;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__prop {
        display: flex;
        justify-content: space-between;
    }

    &__prop-title {
        color: #6B6F77;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    &__prop-val {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__price {
        display: flex;
        align-items: center;
        width: 85%;
    }

    &__price-val {
        color: #6B6F77;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
    }

    &__old-price {
        color: rgba(34, 39, 52, 0.50);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-decoration-line: strikethrough;
        margin-left: 10px;
    }

    &__basket {
        display: flex;
        justify-content: center;
        width: 85%;
        margin-bottom: 15px;
    }

    &__analog-button {
        width: 168px;
        height: 38px;
        color: #9B1C1C;
        border-radius: 8px;
        border: 1px solid #9B1C1C;

        &:hover {
            cursor: pointer;
        }
    }

    &__basket-cnt {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__count-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90px;

        .count-panel__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border-radius: 4px;
            border: 1px solid #F3F3F3;

            &:hover {
                cursor: pointer;
                border-color: #1E4593;
            }

            &--plus {
                background: white;
            }
        }

        .count-panel__button:disabled {
            &:hover{
                border: 1px solid #F3F3F3;
            }
        }

        .count-panel__count-val {
            color: #222734;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    }

    &__basket-button {
        width: 102px;
        height: 38px;
        color: #1E4593;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
        border: none;
        border-radius: 8px;
        background: #E9ECF4;

        &:hover {
            cursor: pointer;
            border: 1px solid #1E4593;
        }
    }

    &__buy {
        text-align: center;
        height: 50px;
        color: #1E4593;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        display: none;
    }
}