.page {
    display: flex;
    justify-content: center;

    .page-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @media (max-width: 1240px) {
            width: 98%;
        }

        .page__title-block {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        .page__title-cnt {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }

        .page__nav {
            color: #6B6F77;
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
        }

        .page__navlink {
            color: #6B6F77;
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
            text-decoration: none;

            &:hover {
                color: #1E4593;
            }
        }

        .page__title {
            color: #222734;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;

            @media (max-width: 1240px) {
                font-size: 30px;
            }

            @media (max-width: 1140px) {
                font-size: 20px;
            }

            @media (max-width: 670px) {
                font-size: 16px;
            }
        }

        .page__filters-button {
            display: none;
            align-items: center;

            &:hover {
                cursor: pointer;
            }

            @media (max-width: 1140px) {
                display: flex;
            }
        }

        .page__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: 20px;
            row-gap: 20px;

            @media (max-width: 1140px) {
                flex-direction: column;
                row-gap: 72px;
                width: 100%;
            }

            .filters__background {
                @media (max-width: 1140px) {
                    position: absolute;
                    display: none;
                    width: 100%;
                    height: 100%;
                    backdrop-filter: blur(16px);
                    justify-content: center;
                    align-items: flex-start;
                    z-index: 2;
                    top: 0;
                    left: 0;
                }

                .filters__close {
                    position: fixed;
                    top: 0px;
                    right: 0px;
                    margin: auto;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    height: 44px;
                    width: 44px;

                    @media (max-width: 1140px) {
                        display: flex;
                    }
                }

                .filters__close::before {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 4px;
                    background: gray;
                    transform: rotate(45deg);
                }

                .filters__close::after {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 4px;
                    background: gray;
                    transform: rotate(-45deg);
                }
            }

            .filters {
                position: relative;
                display: flex;
                justify-content: center;
                width: 24%;
                min-width: 312px;
                border-radius: 16px;
                border: 1px solid #F3F3F3;
                padding-bottom: 10px;
                background-color: white;

                &__wrapper {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 32px;

                    .filters__top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 50px;
                        width: 98%;
                        border-bottom: 1px solid #ECEFF1;

                        .filters__title {
                            color: #222734;
                            font-family: Inter;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%;

                            @media (max-width: 1140px) {
                                font-size: 18px;
                            }
                        }

                    }

                    .filters__reset-button {
                        color: #1E4593;
                        background: none;
                        border: none;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 130%;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .filters__content {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 32px;
                    }

                    .filters__bottom-buttons {
                        position: absolute;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 90%;
                        bottom: -60px;
                    }

                    .filters__apply-button {
                        width: 129px;
                        height: 46px;
                        border-radius: 8px;
                        border: 1px solid #1E4593;
                        color: #1E4593;
                        background: white;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 130%;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .page__content-main {
                width: 76%;
                display: flex;
                flex-direction: column;
                row-gap: 25px;

                @media (max-width: 1140px) {
                    width: 100%;
                }

            }

            .page__content-items {
                display: grid;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                grid-template-columns: repeat(4, 1fr);

                @media (max-width: 1520px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media (max-width: 1140px) {
                    grid-template-columns: repeat(4, 1fr);
                }

                @media (max-width: 1075px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media (max-width: 800px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media (max-width: 520px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            .page__content-category-desc {
                width: 100%;

                p {
                    color: #6B6F77;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    margin: 0;

                    @media (max-width: 840px) {
                        font-size: 14px;
                    }
                }

                p:not(:last-child) {
                    margin-bottom: 10px;
                }

            }
        }
    }

}