.nav-wrapper.header {
    width: 80%;
    max-width: 1200px;
    padding: 16px 0px;

    .nav {
        width: 100%;
    }

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    @media (max-width: 1440px) {
        width: 100%;
        max-width: none;
        padding-top: 0px;
    }

    @media (max-width: 999px) {
        display: none;
    }
}

.nav-wrapper.footer {
    width: 56%;

    @media (max-width: 1500px) {
        width: 80%;
    }

    @media (max-width: 1250px) {
        width: 100%;
    }

    @media (max-width: 840px) {
        width: auto;
    }

    .nav {
        width: 100%;

        @media (max-width: 840px) {
            width: auto;
        }
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
        row-gap: 16px;

        flex-wrap: wrap;
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;

        @media (max-width: 1500px) {
            column-gap: 16px;
        }

        @media (max-width: 840px) {
            flex-direction: column;
            width: auto;
        }

    }
}

.nav-wrapper.mobile {
    .nav {
        width: 100%;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 10px;

        li {
            padding: 10px 0px;

            @media (max-height: 500px) {
                padding: 4px 0px;
            }
        }
    }

    .nav-link {
        font-size: 20px;

        @media (max-height: 390px) {
            font-size: 16px;
        }
    }
}

.nav-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #222734;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: center;

    &:hover {
        color: #546E7A;
    }
}

.nav-link.active {
    color: #D82A49;
    font-weight: 500;
}