.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &__navigation-cnt {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1440px) {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__address {
        display: flex;
        align-items: center;
        padding: 16px 0px;

        @media (max-width: 999px) {
            display: none;
        }

        a {
            color: #535761;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            text-decoration: none;
            border-bottom: #535761 2px solid;
            margin-right: 10px;
        }
    }

    &__address-icon {
        height: 21px;
        margin-right: 5px;
    }


    &__nav-wrapper {
        width: 80%;
        max-width: 1200px;
        padding: 16px 0px;

        @media (max-width: 1440px) {
            width: 100%;
            max-width: none;
            padding-top: 0px;
        }

        @media (max-width: 999px) {
            display: none;
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #E9ECF4;
    }

    &__main-cnt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 0px;
    }

    &__logo-cnt {
        display: flex;
        align-items: center;
    }

    &__logo {
        &:hover {
            cursor: pointer;
        }
    }

    &__menu-btn {
        display: none;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        border: none;
        border-radius: 8px;
        background: #E9ECF4;
        margin-right: 20px;

        &:hover {
            cursor: pointer;
            border: 1px solid #1E4593;
        }

        @media (max-width: 999px) {
            display: flex;
        }

        @media (max-width: 390px) {
            margin-right: 5px;
        }
    }

    &__catalog-button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 48px;
        width: 183px;
        border: none;
        border-radius: 8px;
        background: #E9ECF4;
        border: 1px solid #E9ECF4;

        @media (max-width: 999px) {
            display: none;
        }

        &:hover {
            cursor: pointer;
            border: 1px solid #1E4593;
        }


        .catalog-button__text {
            color: #1E4593;
            font-size: 16px;
        }
    }

    &__search {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 44px;
        width: 60%;
        min-width: 140px;
        border-radius: 8px;
        border: 2px solid #1E4593;

        @media (max-width: 1440px) {
            width: 50%;
        }

        @media (max-width: 1080px) {
            width: 45%;
        }

        @media (max-width: 999px) {
            display: none;
        }

        .search__icon {
            margin-left: 10px;
        }

        .search__input {
            border: none;
            outline: none;
            width: 98%;
            color: #222734;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin-left: 5px;
        }
    }

    &__user-buttons {
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        height: 48px;

        @media (max-width: 500px) {
            column-gap: 6px;
        }

        .user-button {
            height: 100%;
            width: 50px;
            border-radius: 12px;
            border: 1px solid #D2DAE9;
            background: #FFF;

            &:hover {
                cursor: pointer;
                border-width: 2px;
            }
        }

        .button-search {
            display: none;

            @media (max-width: 999px) {
                display: block;
            }
        }

        .button-basket {
            position: relative;
            margin-right: 5px;
        }

        .button-basket__count {
            position: absolute;
            right: -6px;
            top: -6px;
            width: 20px;
            height: 20px;
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-weight: 700;
            line-height: 170%;
            border-radius: 7px;
            border: 2px solid rgb(255, 255, 255);
            background: #D82A49;
        }
    }
}

.container {
    width: 90%;
    max-width: 1440px;

    @media (max-width: 1240px) {
        width: 98%;
    }
}