.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__navigation-cnt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 16px;
        width: 90%;
        padding: 16px 0px;

        @media (max-width: 840px) {
            flex-direction: column;
        }
    }

    &__address {
        display: flex;
        align-items: center;

        a {
            color: #535761;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            text-decoration: none;
            border-bottom: #535761 2px solid;
        }
    }

    &__address-icon {
        height: 21px;
        margin-right: 5px;
    }

    .footer__time {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: #535761;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin-left: 10px;
        }
    }

    .footer__social-media {
        display: flex;
        column-gap: 8px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border-radius: 6px;
            border: 1px solid #E6E7E8;
            background: none;

            &:hover {
                cursor: pointer;
                border-width: 2px;

                svg {
                    path {
                        fill: black;
                    }
                }
            }
        }

        .footer__social-media-button-icon {
            height: 24px;
            width: 24px;
        }
    }
}

.footer__line {
    width: 100%;
    height: 1px;
    background-color: #E9ECF4;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 0px;

    .footer__copyright {
        color: #6B6F77;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .footer__sticker {
        object-fit: cover;
    }

}