.range-slider {
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @media (max-width: 1140px) {
            font-size: 16px;
        }
    }

    &__labels {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 60%;
        height: 35px;
        margin-left: 20px;

        @media (max-width: 1140px) {
            height: 26px;
        }
    }

    &__label {
        color: #9D9FA5;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @media (max-width: 1140px) {
            font-size: 14px;
        }
    }
}

.range-slider-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__inputs {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: -2px;
    }

    &__input-label {
        display: block;
    }

    &__input {
        width: 123px;
        height: 45px;
        color: #222734;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        border-radius: 0px 8px 8px 0px;
        border: 2px solid #E9ECF4;
        padding-left: 14px;
        outline: none;
        -moz-appearance: textfield;
    }

    &__input--left {
        border-right: none;
        border-radius: 8px 0px 0px 8px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &__slider-cnt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 86%;
    }

    &__slider {
        display: flex;
        justify-content: center;
    }

    &__slider-background {
        position: relative;
        width: 95%;
    }

    &__slider-progress {
        height: 2px;
        position: absolute;
        border-radius: 10px;
        background: #4B6AA9
    }

    &__range {
        position: relative;
    }

    &__range input {
        position: absolute;
        top: -12px;
        width: 100%;
        background: none;
        pointer-events: none;
        -webkit-appearance: none;
    }

    input[type="range"]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        -webkit-appearance: none;
        pointer-events: auto;
        background-color: #1E4593;

        &:hover {
            cursor: pointer;
        }
    }
}